aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.8
exceptiongroup==1.3.1
fastapi==0.128.8
filelock==3.19.1
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
h11==0.16.0
idna==3.11
inference-sdk==1.1.2
jinja2==3.1.6
markupsafe==3.0.3
marshmallow==3.26.2
multidict==6.7.1
mypy-extensions==1.1.0
packaging==26.0
pillow==11.3.0
pillow-avif-plugin==1.5.5
polars==1.36.1
polars-runtime-32==1.36.1
propcache==0.4.1
pydantic==2.12.5
pydantic_core==2.41.5
pydeprecate==0.5.0
pyparsing==3.3.2
python-dotenv==1.2.1
python-multipart==0.0.20
pyyaml==6.0.3
requests==2.32.5
starlette==0.49.3
supervision==0.27.0.post2
sympy==1.14.0
torch==2.8.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
ultralytics==8.4.26
ultralytics-thop==2.0.18
urllib3==2.6.3
uvicorn==0.39.0
yarl==1.22.0
zipp==3.23.0
